@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-caveat: var(--font-caveat), cursive;
}

@layer utilities {
  .bg-grid-pattern {
    background-image: 
      linear-gradient(to right, #e5e7eb 1px, transparent 1px),
      linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
    background-size: 50px 50px;
    background-position: center top;
  }
}
